.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.column-two {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.left-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.App {
  text-align: center;
}
.App-logo {
  height: 18vmin;
  pointer-events: none;

  margin-top: 4%;
}
.App-welcome {
  font-weight: bolder;
}
.App-welcome-span {
  font-weight: bolder;
  color: rgb(56, 91, 196);
}

.app-identifier {
  font-size: 12px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
  font-size: 15px;
  margin-top: 10px;
}
.send-box {
  display: flex;
  width: 40%;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}
.send-box-input {
  flex: 1;
  padding: 15px 10px;
  font-size: 10px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
}
*:focus {
  outline: none;
}
.send-box-button {
  padding-right: 10px;
  background-color: #fff;
  -webkit-border-top-right-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
  -moz-border-radius-topright: 25px;
  -moz-border-radius-bottomright: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
  cursor: pointer;
  cursor: hand;
}
.send-box-span {
  margin-left: 50px;
  padding: 10px 25px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  border-radius: 20px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.19);
}

.message-box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  border-radius: 10px;
  color: rgb(43, 44, 43);
  font-size: 10px;
  width: "14px";
  background-color: #393939;
}
.msgcard {
  color: rgb(43, 44, 43);
  border-radius: 10px;
}

.chat-log {
  background: #e9e9ea;
  overflow-y: scroll;
  height: 450px;
  padding: 20px;
}

.chat-log_item {
  background: #fffefe;
  padding: 10px;
  margin: 0 auto 10px;
  max-width: 90%;
  min-width: 20%;
  margin-left: 10px;
  float: left;
  text-align: left;
  font-size: 13px;
  border-radius: 0 20px 20px 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  clear: both;
}
.divider {
  color: rgb(56, 91, 196);
}
.chat-log_item.chat-log_item-own {
  float: right;
  background-color: rgb(56, 91, 196);
  color: #fff;
  text-align: right;
  margin-right: 0.7rem;
  border-radius: 20px 0 20px 20px;
}

.chat-log_author {
  margin: 0 auto 0em;
  font-size: 12px;
  font-weight: bold;
}

.chat-log_time {
  margin: 0 auto 0.5em;
  direction: rtl;
  font-size: 12px;
  opacity: 0.5;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(56, 91, 196);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
